<body>
  
     
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3"> Adopte & Achète: Votre Compagnon Idéal Vous Attend</h1>
                <p>Découvrez une sélection de chiens prêts à être adoptés ou achetés, et trouvez le compagnon parfait pour enrichir votre quotidien. Adoptez un ami, achetez du bonheur.</p>
            </div>
            
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="facility-item">
                       
                        
                    </div></div>



                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="facility-item">
                        <div class="facility-icon bg-success">
                            <span class="bg-success"></span>
                         
                            <span class="bg-success"></span>
                        </div>
                        <div class="facility-text bg-success">
                            <h3 class="text-success mb-3">le chien</h3>
                            <p class="mb-0">Les chiens, bien plus qu'un simple animal de compagnie, apportent amour, réconfort et bonheur</p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="facility-item">
                        <div class="facility-icon bg-primary">
                            <span class="bg-primary"></span>
                           
                            <span class="bg-primary"></span>
                        </div>
                        <div class="facility-text bg-primary">
                            <h3 class="text-primary mb-3">chat</h3>
                            <p class="mb-0">
                                Les chats jouent un rôle essentiel en tant qu'animaux de compagnie, offrant affection, compagnie et parfois des bienfaits thérapeutiques.</p>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
   


    <!-- About Start -->
 
    <!-- About End -->


    <!-- Call To Action Start -->
   
    <!-- Call To Action End -->


    <!-- Classes Start -->
    <div class="container-xxl py-5">
        <div class="container">
          
            <div class="row g-4">
                
                
                    <!--     <div class="classes-item">
                        <div class="bg-light rounded-circle w-75 mx-auto p-3">
                            <img class="img-fluid rounded-circle" src="img/classes-1.jpg" alt="">
                        </div>
                        <div class="bg-light rounded p-4 pt-5 mt-n5">
                            <a class="d-block text-center h3 mt-3 mb-4" href="">Art & Drawing</a>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 45px; height: 45px;">
                                    <div class="ms-3">
                                        <h6 class="text-primary mb-1">Jhon Doe</h6>
                                        <small>Teacher</small>
                                    </div>
                                </div>
                                <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
                            </div>
                            <div class="row g-1">
                                <div class="col-4">
                                    <div class="border-top border-3 border-primary pt-2">
                                        <h6 class="text-primary mb-1">Age:</h6>
                                        <small>3-5 Years</small>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="border-top border-3 border-success pt-2">
                                        <h6 class="text-success mb-1">Time:</h6>
                                        <small>9-10 AM</small>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="border-top border-3 border-warning pt-2">
                                        <h6 class="text-warning mb-1">Capacity:</h6>
                                        <small>30 Kids</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
               
               
                  
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let produit of produits">
                        <div class="card mb-4" style="width: 100%;">
                            <img src="{{produit.image}}" class="card-img-top" alt="Image Produit" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <p class="card-text"><strong>Prix: $</strong> {{produit.prix}}</p>
                                <p class="card-text"><strong>Âge:</strong> {{produit.age}}</p>
                                <button class="btn btn-primary" (click)="acheterProduit(produit.id)">
                                    <i class="fas fa-shopping-cart"></i> Acheter
                                </button>
                            </div>
                        </div>
                    </div>
                    
                      
               
               
                </div>
                
             
                
                <!-- JS de Bootstrap et ses dépendances -->
                
                
                
               
            </div>
        </div>
   
   
    



</body>