
body {
    background-color: #e6e6e6;
    font-family: 'Arial', sans-serif;
    margin: 1%;
    padding: 1%;
    width: 100%;
   
}
.container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    height: 630px;
    
}
h1 {
    color: #4A90E2;
    margin-bottom: 25px;
    border-bottom: 3px solid #4A90E2;
    display: inline-block;
}
p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
button {
    background-color: #4A90E2;
    border: none;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #357ABD;
}
.img-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.img-container img {
    transition: transform 0.3s ease;
}
.img-container:hover img {
    transform: scale(1.1);
}
